{% extends 'base.html' %}

{% block title %}Продукт{% endblock %}

{% block content %}
{% include 'header.html' with header_title="Детали продукта" %}
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6 p-3 border-0">
            <h1 class="mb-4">{{ product.name }}</h1>
            <p><strong>Пользователь:</strong> {{ product.user.username }}</p>
            <p><strong>Категория:</strong> {{ product.category.name }}</p>
            <p><strong>Описание:</strong> {{ product.description }}</p>
            <h3 class="text-primary mb-4">Цена: {{ product.price }} руб.</h3>

            <div class="d-grid gap-2 col-8">
                <a class="btn btn-primary lg" href="#">В корзину</a>
                <a class="btn btn-outline-secondary" href="{% url 'catalog:product_list' %}">Назад в каталог</a>
                <a class="btn btn-outline-warning" href="{% url 'catalog:product_update' product.pk %}">Редактирование</a>
                <a class="btn btn-outline-danger" href="{% url 'catalog:product_delete' product.pk %}">Удаление</a>
            </div>
        </div>
        <div class="col-md-6 p-3 text-center border-0">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid rounded shadow-sm">
            {% else %}
                <div class="p-5 bg-light text-muted rounded">
                    <p class="mb-0">Изображение отсутствует</p>
                </div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}
