<!-- product_form.html -->
{% extends 'base.html' %}

{% load crispy_forms_tags %}<!-- 1. Загружаем теги -->

{% block title %}Продукт{% endblock %}

{% block content %}
{% include 'header.html' with header_title="Добавить продукт в существующую категорию" header_lead="Не нашли подходящую категорию? Отправьте запрос на странице контакты" %}
<div class="container" style="max-width: 500px;">
    <form method="post" novalidate enctype="multipart/form-data"> <!-- novalidate отключает стандартные подсказки браузера -->
        {% csrf_token %}

        {{ form.non_field_errors }} <!-- Ошибки, которые не связаны с конкретными полями формы -->
        {{ form.as_p }} <!-- Рендеринг всех полей формы и связанных с ними ошибок -->

        <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
    </form>
</div>
{% endblock %}