{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
{% url 'catalog:product_form' as product_url %}
{% include 'header.html' with header_title="Каталог Skystore" header_lead="Отличный вариант хранения того, что вы хотели бы продать" header_button="Добавить продукт" header_url=product_url %}
<div class="container">
    <div class="row text-center">
        {% for product in products %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ product.price }}</h1>
                    {% if user == product.owner or perms.catalog.can_unpublish_product %}
                        {% load status_filters %}
                        <p> {{ product.is_published|status_badge }} </p>
                    {% else %}
                        <p>{{ product.description|truncatechars:30 }}</p>
                    {% endif %}
                    <a type="button" class="btn btn-lg btn-block btn-outline-primary"
                       href="{% url 'catalog:product_detail' product.pk %}">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">

            <!-- Кнопка «Назад» -->
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-header btn btn-outline-primary me-2" href="?page={{ page_obj.previous_page_number }}">Назад</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="btn btn-outline-secondary me-2">Назад</span>
            </li>
            {% endif %}

            <!-- Текущая позиция -->
            <li class="page-item disabled">
                <span class="btn btn-light mx-2">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
            </li>

            <!-- Кнопка «Вперед» -->
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-header btn btn-outline-primary ms-2"
                   href="?page={{ page_obj.next_page_number }}">Вперед</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="btn btn-outline-secondary ms-2">Вперед</span>
            </li>
            {% endif %}

        </ul>
    </nav>
</div>
{% endblock %}